body {
    font-family: 'Robot', sans-serif;
    background: url(./images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.modal-content {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #26476dad;
    opacity: 0.95;
    
    box-shadow: 0px 0px 3px #485d7083;
    letter-spacing: 2px;
    font-weight: bolder;
    
    padding-bottom: 30px;
    
    border-radius: 10%;
    margin-top: 30%;
}

.modal-dialog {
    padding-left: 17%;
    padding-right: 17%;
}

.button {
    background-color: #2384df;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
}

.button:hover {
    opacity: 1
}